.wrap_nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  padding: 2em;
  position: absolute;
  right: 10%;

  &__item {
    color:#fff;
    font-size: 24px;
    font-family:Tahoma, Geneva, sans-serif;
  }
  &__item:hover {
    text-decoration: underline;
    color: var(--second-color);
  }
}

.header {
  margin-top: 20px;
  display: inline-block;
  position: absolute;
  &__logo {
    display: flex;
  }
}

.black {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--dark);
  width: 100vw;
  height: 100vh;
}

.social_box {
  position: fixed;
  top: 40%;
  left: 20px;
  display: flex;
  flex-direction: column;
  svg {
    transform: scale(.7);
    filter: grayscale(100%);
  }
   svg:hover {
     filter: brightness(100%);
   }
}