:root {
    /*COLORS*/
    --prime-color: #6f828a;
    --second-color: #1E90FF;
    --head-color: #F0F9F0;
    --dark: #000;
    /*FONT*/
    --font-head: calc(1em + 1vw);
}

.App {
    box-sizing: border-box;
    padding: 20px 10%;
    position: absolute;
    width: 100%;
    height: 100vh;
}
.container {
    min-height: 80vh;
    padding: 0 20%;
}
#header {
    height: 10vh;
}
#main {
    padding-top: 20%;
}
#footer {
    height: 5vh;
    background-color: transparent;
    border-top: 2px solid #fff;
    flex: 0 0 auto;
}

.main-footer h4{
    color: #fff;
    text-align: center;
}

*, *:after, *:before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
h2 {
    color: var(--second-color);
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

.sound {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.sound svg {
    fill:#fff;
    transform: scale(2);
}
.sound svg:hover {
    filter: brightness(80%);
}
.sound:active {
    transform: scale(1.05);
}

.page-enter {
    opacity: 0;
    transform: scale(1.1);
}

.page-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
}

.page-exit {
    opacity: 1;
    transform: scale(1);
}

.page-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}
p {
    color: aliceblue;
}
.flex span {
    width: 2vw;
    font-weight: bold;
    font-size: calc(1vw * .9);

}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a.active {
    color: var(--second-color);
}
.scrollItem {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 1s ease 0s;
}
.scrollItem._active {
    transform: translate(0px, 0px);
    opacity: 1;
}
