:root {
    /*COLORS*/
    --prime-color: #6f828a;
    --second-color: #1E90FF;
    --head-color: #F0F9F0;
    --dark: #000;
    /*FONT*/

}

.App {
    box-sizing: border-box;
    padding: 20px 10%;
    position: absolute;
    width: 100%;
    height: 100vh;
}
.container {
    min-height: 80vh;
}
#header {
    height: 10vh;
}
#main {
    padding-top: 20%;
}
#footer {
    height: 5vh;
    background-color: transparent;
    border-top: 2px solid orangered;
    flex: 0 0 auto;
}

.main-footer h4{
    color: orangered;
    text-align: center;
}

*, *:after, *:before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
h1 {
    color: var(--second-color);
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

.sound {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.sound svg {
    fill:#fff;
    transform: scale(2);
}
.sound svg:hover {
    filter: brightness(80%);
}
.sound:active {
    transform: scale(1.05);
}

.page-enter {
    opacity: 0;
    transform: scale(1.1);
}

.page-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
}

.page-exit {
    opacity: 1;
    transform: scale(1);
}

.page-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}
p {
    color: aliceblue;
}